body {
    background-color: dodgerblue;
    font-family: comic sans ms;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: rgba(112, 141, 204, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
}

input {
    margin-top: 7px;
    padding: 10px;
    border: rgb(108, 136, 165);
    border-radius: 5px;
}

button {
    margin-top: 22px;
    padding: 10px;
    border: rgb(156, 224, 224);
    border-radius: 5px;
    background-color:blue;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color:rgb(0, 0, 83);
}
